* {
  box-sizing: border-box; margin: 0;padding:0.5rem;color: #fff;}

html{
  height: 100%;
  padding: 0;}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Microsoft Yahei,Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 20px;
  background: #333;
  background-size:100%; }

a {
  text-decoration: none; }

/*滚动条*/
::-webkit-scrollbar{width:0;}
::-webkit-scrollbar-track{background:none;}
::-webkit-scrollbar-track:hover {background: rgba(255, 255, 255, 0.1);}
::-webkit-scrollbar-thumb{background: rgba(0, 0, 0, 0.5);border-radius:5px }
::-webkit-scrollbar-thumb:hover {background: rgba(0, 0, 0, 0.6);}

/*选中*/
::selection{
  background-color:rgba(0,150,50,1);
}

/*整个页面*/
.wrapper{
  padding:0;
  height: 100%;
  min-height: 100%;
  background:linear-gradient(120deg, rgba(255,255,255,0.1),rgba(255,255,255,0.2));
  overflow: hidden;
}

/*页面主体三部分*/
.page-header {
  height:6.7rem;
  min-height: 10%;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
  overflow: hidden;
  /*background-image: linear-gradient(120deg, #155799, #159957);*/
 }
.page-content{
  min-height: 85%;
  /*background: rgba(255,255,255,0.3);*/
  /*background-color: antiquewhite;*/
}
.page-footer{
  font-size: 12px;
  min-height:5%;
  text-align: right;
  /*background-color: #333;*/
}

/**/
.header {
  display: inline-block;
  width: 20%;
}
.nav{
  display: inline-block;
  width: 50%;
  float: right;
}
.nav a{
  display: inline-block;
  margin:20px;
  border-bottom: 2px solid rgba(255,255,255,0.0);
}
.nav a:hover,.nav a.selected{
  border-bottom: 2px solid rgba(255,255,255,0.8);
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
  margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }



